extends layout

block content
  h1= time
  h1 Mohamed's RESTful API
  h2 Timestamp Microservice
  p.red Example Usage
  code {#url}/May 1, 2017
  br
  code {#url}/127310948
  br
  p.red Expected Output is JSON
  code { "unix": 137910394, "natural": May 1, 2017}